<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" ng-href="/#!/">AngularJS 1</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" ng-if="getCurrentUser()">
        <li class="nav-item">
          <a
            ng-class="['nav-link', {'active': $location.path() === '/artists'}]"
            ng-href="/#!/artists"
            >Artists</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ✋ My Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/#!/logout">Logout</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0" ng-if="!getCurrentUser()">
        <li class="nav-item">
          <a
            ng-class="['nav-link', {'active': $location.path() === '/login'}]"
            ng-href="/#!/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            ng-class="['nav-link', {'active': $location.path() === '/register'}]"
            ng-href="/#!/register"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
