<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card" ng-if="artist">
        <div
          class="card-header d-flex align-items-start justify-content-between"
        >
          <h1 class="card-title my-0">{{artist.name}}</h1>
          <nav class="btn-group">
            <a class="btn btn-sm btn-secondary" href="{{prevArtistUrl}}"
              >&lt;</a
            >
            <a class="btn btn-sm btn-secondary" href="{{artistsUrl}}">&bull;</a>
            <a class="btn btn-sm btn-secondary" href="{{nextArtistUrl}}"
              >&gt;</a
            >
          </nav>
        </div>
        <div class="card-body">
          <h4 class="card-title text-secondary">{{artist.reknown}}</h4>
          <img
            class="float-start me-2 rounded"
            ng-src="images/{{artist.shortname}}_tn.jpg"
            alt="Photo of {{artist.name}}"
          />
          <div class="card-text">{{artist.bio}}</div>
        </div>
      </div>

      <div class="card" ng-if="!artist">
        <div
          class="card-header d-flex align-items-start justify-content-between"
        >
          <h1 class="card-title my-0">"{{ shortname }}" not found</h1>
        </div>
        <div class="card-body">
          <a href="{{homeUrl}}" class="btn btn-primary">Go Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
