<app-navbar></app-navbar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6">
      <form name="loginForm" novalidate ng-submit="onLoginSubmit()">
        <img
          class="d-block my-4 my-md-5 mx-auto"
          ng-src="/images/bootstrap-logo.svg"
          alt="Logo"
          width="72"
          height="57"
        />

        <h1 class="h3 mb-3 fw-normal">Please log in</h1>

        <div class="form-floating mb-2">
          <input
            type="email"
            ng-class="['form-control', {
            'is-invalid': loginForm.email.$touched && loginForm.email.$invalid
            }]"
            id="email"
            name="email"
            placeholder="name@example.com"
            ng-model="user.email"
            ng-required="true"
          />
          <label for="email">Email address</label>
          <div class="invalid-feedback">Please insert a valid email.</div>
        </div>
        <div class="form-floating mb-2">
          <input
            type="password"
            ng-class="['form-control', {
            'is-invalid': loginForm.password.$touched && loginForm.password.$invalid
            }]"
            id="password"
            name="password"
            placeholder="Password"
            ng-model="user.password"
            ng-required="true"
          />
          <label for="password">Password</label>
          <div class="invalid-feedback">Please insert a password.</div>
        </div>

        <button
          class="w-100 btn btn-lg btn-primary"
          ng-disabled="loginForm.$invalid"
          type="submit"
        >
          Log in
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <p class="text-center my-2 my-md-3">
      or <a ng-href="/#!/register">Register</a>
    </p>
  </div>
</div>

<app-footer></app-footer>
