<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Artist Directory</h1>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="query"
              placeholder="Search query..."
              ng-model="query"
            />
            <label for="query">Search query</label>
          </div>

          <div class="form-floating mb-2">
            <select
              class="form-select"
              id="artistOrder"
              aria-label="Sort artists by"
              ng-model="artistsOrderBy"
            >
              <option ng-value="artistsOrderByEnum.NAME">
                {{artistsOrderByEnum.NAME | capitalize }}
              </option>
              <option ng-value="artistsOrderByEnum.REKNOWN">
                {{artistsOrderByEnum.REKNOWN | capitalize }}
              </option>
            </select>
            <label for="artistOrder">Sort artists by</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="artistOrderOptions"
              id="artistOrderASC"
              ng-model="artistsOrder"
              value="{{artistsOrderEnum.ASC}}"
            />
            <label class="form-check-label" for="artistOrderASC">
              Ascending
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="artistOrderOptions"
              id="artistOrderDescending"
              ng-model="artistsOrder"
              value="{{artistsOrderEnum.DESC}}"
            />
            <label class="form-check-label" for="artistOrderDescending">
              Descending
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-md-7 col-lg-5">
      <ul class="list-group mb-5">
        <li
          class="list-group-item"
          ng-repeat="artist in artists | filter: query | orderBy: artistsOrderBy : (artistsOrder === 'desc')"
        >
          <a ng-href="/#!/artist/{{artist.shortname}}">
            <div class="d-flex align-items-center">
              <img
                class="d-block rounded-circle me-3"
                ng-src="images/{{artist.shortname}}_tn.jpg"
                alt="Photo of {{artist.name}}"
              />
              <div>
                <h2 class="h5 text-primary">{{artist.name}}</h2>
                <p class="text-secondary m-0"><i>{{artist.reknown}}</i></p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
