@import '~bootstrap/scss/bootstrap';

.list-group {
  .list-group-item {
    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:hover {
      background-color: $gray-100;
    }

    img {
      width: 70px;
    }
  }

  a {
    text-decoration: none;
  }
}
